<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID" version="3.0">
    
<servlet>
 <servlet-name>MySnoopServlet</servlet-name>
 <servlet-class>org.eclipse.tutorial.MySnoopServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>MySnoopServlet</servlet-name>
  <url-pattern>/mySnoop</url-pattern>
</servlet-mapping>

</web-app>